@import 'src/stylesheets/variables';
@import 'src/stylesheets/colors';

.header {
    background-color: $cranberry;

    &__large-image {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }

    &__powered-by {
        float: right;
        margin-top: 3vh;
        margin-right: 2vw;
        color: $white;
        font-family: 'Raleway-semi';
        font-size: 0.87em;
    }

    &__label {
        float: left;
        width: 70px;
        margin-top: 2vh;
        margin-left: 2vw;
    }
}

.search {
    height: 5em;
    display: block;


    &__form-wrapper {
        position: relative;
        width: 45%;
        margin-left: auto;
        margin-right: auto;

        input {
            margin-top: 10px;
            width: 100%;
            padding: 15px;
            color: $blackRock;
            border-radius: 25px;
            border-width: 1px;
            border-color: $grey;
        }

        button {
            background-color: $paleRose;
            color: $white;
            position: absolute;
            right: 5px;
            top: 13px;
            padding: 12px 25px;
            border-radius: 35px;
            border-width: 1px;
            border-style: solid;
            border-color: $paleRose;
            transition: all .2s;
            text-transform: uppercase;

            &:hover {
              background-color: $lightRose;
              cursor: pointer;
            }
        }
    }
}

.results {
    background-color: $blackGrey;
    min-height: 400px;

    &__tip {
        text-align: center;
        color: $darkGrey;
        font-family: 'Raleway';
        font-size: 1.6em;
        text-align: center;
    }

    &__loupe {
        width: 328px;
        margin-left: auto;
        margin-right: auto;
    }
}
.container {
    max-width: 1250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 80vh;
}


.search-container {
    padding: 15px 30px;
    display: flex;

    &__album {
        flex: 1;
    }

    &__footer {
        color: $white;
    }
}

footer {
    height: 100px;
    display: flex;
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
}

.copyright{
    display: flex;
    text-align: center;
    color: $white;
    font-family: 'Raleway';
    font-size: 1em;
}