<div class="container">
    <header>
        <div class="header">
            <div class="header__powered-by">Powered by spotify</div>
            <div class="header__label">
                <img src="/images/gl-logo@2x.png" alt="Geek Label">
            </div>
            <div class="header__large-image">
                <img src="/images/hero-img@2x.png">
            </div>
        </div>
    </header>
    <div class="search">
        <div class="search__form-wrapper">
            <input type="text" name="search" class="search__input" placeholder="Search for artist or album title"
                ng-model="homeCtrl.searchString" ng-keypress="homeCtrl.onKeyPress($event)">
            <button class="search__button" ng-click="homeCtrl.onSearch()">
                <span ng-if="!homeCtrl.isSearching">Search</span>
                <span ng-if="homeCtrl.isSearching" >Searching...</span>
                </button>

        </div>
    </div>
    <div class="results" ng-if="!homeCtrl.results.length">
        <div class="results__loupe" >
            <img src="/images/Magnify@2x.png" alt="Loupe">
        </div>
        <div class="results__tip">
            Your results will appear here
        </div>
    </div>
    <div class="results" ng-if="homeCtrl.results.length > 0">
        <spotify-search
            results="homeCtrl.results"
            on-album-click="homeCtrl.openAlbum(result)"></spotify-search>
    </div>
    <footer>
        <div class="copyright">
            Designed by Geek Label - Powered by Spotify
        </div>
    </footer>
</div>

<spotify-modal
    album="homeCtrl.currentAlbum"
    is-open="homeCtrl.modalShown"
    on-close="homeCtrl.onModalToggleClick()"></spotify-modal>