<div class="container">
    <header>
        <div class="header">
            <div class="header__powered-by">Powered by spotify</div>
            <div class="header__label">
                <img src="/images/gl-logo@2x.png" alt="Geek Label">
            </div>
            <div class="header__large-image">
                <img src="/images/hero-img@2x.png">
            </div>
        </div>
    </header>
    <div class="search">
        <div class="search__form-wrapper">
            <input type="text" name="search" class="search__input">
            <button class="search__button">Search</button>
        </div>
    </div>
    <div class="results">
            
        </div>
    <footer>
        
    </footer>
</div>

